
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
.banner-container{
    background-image: url("../icons/Facebook.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0 auto;
    min-height: 600px;
    border: 2px;
    width: 1320;
}